<a href="https://colab.research.google.com/github/lavanyagowda1998/python-musubi-foundation/blob/main/foundation1python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print function is used to print the content inside the quotes
#can be in 'single quotes' or "double quotes"
print("hello world")

hello world

In [ ]:
print('hello world')

hello world

In [ ]:
print(" Iam new to python! ")

 Iam new to python!

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#this is a single comment
print("this is not a comment")

this is not a comment

In [ ]:
"""
this is a 
triple quotes for multiple 
line start with triple quotes and end with triple quotes"""
print("this is not a comment either")

this is not a comment either

**Excercise 2**

In [ ]:
print("I am Learning python")
# It is possible to write within my code blocks without python

I am Learning python

###VARIABLES

In [ ]:
#bind a number 7 to variable "x"
x = 7 #now x is assigned with a number 7

In [ ]:
print(x) #printing the value of x contains

7

In [ ]:
##variables names start with a lowercase letter or underscore
##can be followed by numbers or underscore
va923 = "lav"
va923

'lav'

In [ ]:
_app4r_ = "Biscuit"
_app4r_

'Biscuit'

In [ ]:
 f8_9 = "choco"
 f8_9

'choco'

In [ ]:
tmp = 'ice'
tmp

'ice'

In [ ]:
tmp = ice
tmp
#string should always iclosed with double quotes

NameError: ignored

In [ ]:
chalk = "powder"
chalk

'powder'

In [ ]:
###9va23, #app#4r_, f8-9, tm*p; are NOT allowed because it start with number,# symbol,- symbol,tm*p * symbol

In [ ]:
f8-9 = 'king'
f8-9

SyntaxError: ignored

In [ ]:
f8_9= 'king'
f8_9

'king'

###Let's try making a variable that contains your name then print it !
Excercise : 3
Create a variable as called age and add your age to it

Next print out your age in your notebook !

In [ ]:
age = 23
age

23

In [ ]:
print(age) # here no need of double or single quotes because we are not printing statement we are printing the variable

23

#Simple Program
input: uses the input command
output: used the print command

In [ ]:
name = input("what is your  name?")
print("welcome to python world,",name)

what is your  name?lavanya
welcome to python world, lavanya

#Let's create input function that not only takes the name of the user but also their age and then let's print it
Excercise : 4
Create two inputs with one taking the name and the other taking the age

And then print out Hey <name> I am glad you started learning python at the age of <age>

In [ ]:
name = input("what is your name?")
age = input("what is your age?")
print("hey,",name,"glad you started learning python at the age of",age)

what is your name?punya
what is your age?18
hey, punya glad you started learning python at the age of 18

###Data Types
a particular kind of data entity, defined by the values it can take

Python has several built-in data types, some of them are:

numeric data types
text sequence data type
sequence data types
mapping data type
boolean data type
set data type
the type() function is used to check the data type of something in Python

Numeric Data Types
two basic numeric data types
int: integers
float: decimal numbers

In [ ]:
x = 7 # 7 is an integer 
type(x)

int

In [ ]:
y = 7.5
type(y)

float

#Text Sequence Types
#strings are a text sequence type
#they are a sequence of characters
#they are immutable (unable to be changed.)
#they are ordered

In [ ]:
# define a string 
python_string = 'TECH I.S. is awesome!'

# check type 
type(python_string)

str

#Now that we know how to find out the datatype of variables
#Excercise : 5
#What is the datatype of these three variables :

#discount = 43.8
#height = 143
#address = '#301, Pelican Street'

In [ ]:
discount = 43.8
type(discount)

float

In [ ]:
height = 143
type(height)

int

In [ ]:
address = "#301.pelican street"
type(address)

str

##Sequence Types
#there are three kinds of sequence types:
#list: mutable sequence
#tuple: immutable sequence (unable to be changed)
#range: immutable sequence (unable to be changed)
### List

### LISTS
ordered group of comma seperated values in square brackets	o
square brackets are mandatory	
mutable	
once created, content changes can be made	
should be chosen if content is not fixed, and keeps changing	
cannot be used as keys for dictionaries	
are not hashable and immutable

In [ ]:
example_for_list = [3,"apple",92,10,"mango"]
example_for_list

[3, 'apple', 92, 10, 'mango']

In [ ]:
print(example_for_list)

[3, 'apple', 92, 10, 'mango']

In [ ]:
print(len(example_for_list))

5

In [ ]:
print(type(example_for_list))

<class 'list'>

In [ ]:
type(example_for_list)

list

In [ ]:
example_for_list[0]

3

In [ ]:
example_for_list[1]

'apple'

In [ ]:
example_for_list[2]

92

In [ ]:

example_for_list[3]

10

In [ ]:
example_for_list[4]

'mango'


### TUPLE
## ordered group of comma seperated values in parenthesis
	immutable
	once created, content cannot be changed
	chosen if content is fixed and never changes
	can be used as keys for dictionaries
	are hashable and immutable

In [ ]:
# define a tuple
tuple_example = (5,'11','a',2.86)
print(tuple_example)

(5, '11', 'a', 2.86)

In [ ]:


# check length of tuple
print(len(tuple_example))

4

In [ ]:

# check type
type(tuple_example)

tuple

# Let's make something using lists!
# Excercise : 6
# Make a list of your favourite colour, food and place and save it in a list called my_favs

In [ ]:
my_favs = ["Blue","Idli","Mysore"]

In [ ]:
my_favs

['Blue', 'Idli', 'Mysore']

### Range

In [ ]:
range_example = range(7)

In [ ]:
range_example

range(0, 7)

In [ ]:
print(len(range_example))

7

In [ ]:
type(range_example)

range

In [ ]:
# define range with (start,stop,step)
range_example = range(0,20,2)
print(range_example)

range(0, 20, 2)

In [ ]:
print(len(range_example))

10

In [ ]:
type(range_example)

range

##Let's get a bit crafty with the range function
Excercise : 7
Using the range function from 4 to 40 and then check the length

In [ ]:
r = range(4,40)

In [ ]:
print(len(r))

36

##Mapping Types
#dictionary is a mapping data type
#it is mutable
#unordered

In [ ]:
# define a dictionary
b = {'one': 1, 'two': 2, 'three': 3} ##key = value
print(b)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
# check type
type(b)

dict

In [ ]:
b["one"]

1

##Excercise : 8
#Make a dictionary with students name and their scores !

#Student : Jake Score : 70
#Student : Mako Score : 75
#Student : Alex Score : 78.5

In [ ]:
student = {"Jake Score ": 70,"Mako Score" : 75,"Alex Score" : 78.5}
student### alphabet wise recording the rank

{'Alex Score': 78.5, 'Jake Score ': 70, 'Mako Score': 75}

#Boolean Types
#state of truth
### may be True or False

In [ ]:
b = True
type(b)

bool

In [ ]:
f = False
type(f)

bool

#Set Types
## set is an unordered collection of distinct objects which  are colosed with flower braces

In [ ]:
set_of_numbers = {0,9,1,5,7}
print(set_of_numbers)

{0, 1, 5, 7, 9}

In [ ]:
names = ['olivia', 'caleb', 'olivia']
names_set = set(names)

In [ ]:
names_set

{'caleb', 'olivia'}

In [ ]:
unique_names = list(names_set)
print(unique_names)

['caleb', 'olivia']

### Operators
#popular kinds of operators

numeric operators
comparison operators
logical operators
assignment operators
idenity operators
membership operators
bitwise operators
some are discussed below

### Numeric Operators
#used with numeric data types to perform mathematical operations
#+: addition

#-: subtraction
#*: multiplication
#/: division
#//: floor division
#%: modulus (remainder)
#**: raising to power
#abs(): absolute value of number
#round(): rounds a number
#bin(): get binary version of a number
#hex(): get hexadecimal version of a number

In [ ]:

# set values of x, y and z for numeric operators exploration
x = 5   # integer value
y = 2.0 # float value
z = -13 # negative integer

#(run this cell to initialize values for the next few cells!)

In [ ]:
# sum of x and y
print(x + y)

7.0

In [ ]:
# difference of x and y
print(x - y)

3.0

In [ ]:
# product of x and y
print(x * y)

10.0

In [ ]:
# quotient of x and y
print(x / y)

2.5

In [ ]:
# floored quotient of x and y
print(x // y)

2.0

In [ ]:
# remainder of x / y
print(x % y)

1.0

In [ ]:
# absolute value 
print(abs(z))

13

In [ ]:
# x raised to power y
print(x ** y)

25.0

In [ ]:
# rounding a decimal example - round down
print(round(2.1))

2

In [ ]:
# rounding a decimal example - round up
print(round(3.7))

4

In [ ]:
# binary version of the number
print(bin(37))

0b100101

In [ ]:
# hexadecimal version of the number
print(hex(37))

0x25

Operators are the lifelines of any programming language ,let's put them to good use
Excercise : 9
Create a variable with the value of pi as 3.14, create a new variable as radius and assign it a float value, this will be the radius of a circle and then output the area of the circle using the formula pi*radius^2

Comparison Operators
used to compare two values
<: less than
>: greater than
<=: less than or equal to
>=: greater than or equal to
==: equality
!=: inequality

In [ ]:
# Greater Than 
i = 3 
j = 7

print(i > j)

False

In [ ]:
# Greater Than or Equal
i = 3 
j = 7

print(i >= j)

False

In [ ]:
# Less Than 
i = 3 
j = 7

print(i < j)

True

In [ ]:
# Less Than or Equal 
i = 3 
j = 7

print(i <= j)

True

In [ ]:
# Equality Test #1
i = 3
j = 7

print(i == j)

False

In [ ]:
# Equality Test #2
i = 3
j = 3

print(i == j)

True

In [ ]:
# Inequality Test #1
i = 3
j = 7

print(i != j)

True

In [ ]:
# Inequality Test #2
i = 3
j = 3

print(i != j)

False

##Let's see what comparison operator can do for us
##Excercise : 10
In the last excercise you created a program to get the area of a circle , create a print function that checks if the area that your program created is bigger than 50 or not

Logic Operators
used to combine conditional statements
and
or
not

In [ ]:
## and Operator

In [ ]:
#  'not' operator 
a = True

print(not a)

False

In [ ]:
# a and b are true
a = True 
b = True

print(a and b)

True

In [ ]:
# only b is true 
a = False 
b = True

print(a and b)

False

In [ ]:
# a and b are both false
a = False 
b = False

print(a and b)

False

OR OPERATOR

In [ ]:
## 'or' operator 

# a and b are true
a = True 
b = True

print(a or b)

True

In [ ]:
# only a is true 
a = True 
b = False

print(a or b)

True

In [ ]:
# only b is true 
a = False 
b = True

print(a or b)

True

In [ ]:
# a and b are both false
a = False 
b = False

print(a or b)

False

To be OR not to be ? Let's explore what we can get done using logical operators
Excercise : 11
Create a print function for our circle area generator to check if the area is between 20 AND 50

Assignment Operators
used to assign values to variables

=
following operators combine numerical operations at the same time as assignment

+=
-=
*=
/=
//=
%=
**=

In [ ]:
# assignment operator 

x = 21
print(x)

21

In [ ]:
# += operator

x += 3
print(x)

24

In [ ]:
# -= operator

x -= 3
print(x)

21

In [ ]:
# *= operator

x *= 3
print(x)

63

In [ ]:
# /= operator

x /= 3
print(x)

21.0

In [ ]:
# //= operator

x //= 3
print(x)

7.0

In [ ]:
# %= operator

x %= 3
print(x)

1.0

### SIMPLE CALCULATOR

In [3]:



print("1 Addition")
print("2 Subtraction")
print("3 Multiplication")
print("4 Division")
choice = input("Enter your choice : ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
   print(num1, "+", num2, "=", (num1+num2))

elif choice == '2':
      print(num1, "-", num2, "=",(num1-num2))

elif choice == '3':
      print(num1, "*", num2, "=",(num1*num2))

elif choice == '4':
     if num2 == 0.0:
        print("divide by 0 is error")
     else:  
        print(num1, "/", num2, "=", (num1/num2))

else:
  print("Invalid Input")

1 Addition
2 Subtraction
3 Multiplication
4 Division
Enter your choice : 4
Enter first number: 4
Enter second number: 0
divide by 0 is error

### PERIMETER OF THE CIRCLE

In [18]:
radius = float(input("enter the radius of the circle:"))
perimeter = 2*3.1415*radius
print("perimeter of the circle is",perimeter)

enter the radius of the circle:3
perimeter of the circle is 18.849

In [7]:
import math

In [16]:
radius = float(input("enter the radius of the circle:"))
perimeter = 2*math.pi*radius
print("perimeter of the circle is",perimeter)

enter the number:30
perimeter of the circle is 188.49555921538757

### AREA OF THE CIRCLE

In [19]:
radius = float(input("enter the radius of the circle:"))
area = math.pi*radius*radius
print("perimeter of the circle is",area)

enter the radius of the circle:3
perimeter of the circle is 28.274333882308138

In [21]:
Fruits = ["Apple","pineapple","litchi"]
Fruits

['Apple', 'pineapple', 'litchi']

In [22]:
type(Fruits)

list

In [23]:
Fruits.append("jackfruit")

In [24]:
Fruits

['Apple', 'pineapple', 'litchi', 'jackfruit']

In [25]:
Fruits = ("Apple","pineapple","litchi")
Fruits

('Apple', 'pineapple', 'litchi')

In [26]:
type(Fruits)

tuple

In [27]:
Fruits.append("mango")

AttributeError: ignored