<a href="https://colab.research.google.com/github/lavanyagowda1998/python-musubi-foundation/blob/main/foundation1python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print function is used to print the content inside the quotes
#can be in 'single quotes' or "double quotes"
print("hello world")

hello world

In [ ]:
print('hello world')

hello world

In [ ]:
print(" Iam new to python! ")

 Iam new to python!

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#this is a single comment
print("this is not a comment")

this is not a comment

In [ ]:
"""
this is a 
triple quotes for multiple 
line start with triple quotes and end with triple quotes"""
print("this is not a comment either")

this is not a comment either

**Excercise 2**

In [ ]:
print("I am Learning python")
# It is possible to write within my code blocks without python

I am Learning python

###VARIABLES

In [ ]:
#bind a number 7 to variable "x"
x = 7 #now x is assigned with a number 7

In [ ]:
print(x) #printing the value of x contains

7

In [ ]:
##variables names start with a lowercase letter or underscore
##can be followed by numbers or underscore
va923 = "lav"
va923

'lav'

In [ ]:
_app4r_ = "Biscuit"
_app4r_

'Biscuit'

In [ ]:
 f8_9 = "choco"
 f8_9

'choco'

In [ ]:
tmp = 'ice'
tmp

'ice'

In [ ]:
tmp = ice
tmp
#string should always iclosed with double quotes

NameError: ignored

In [ ]:
chalk = "powder"
chalk

'powder'

In [ ]:
###9va23, #app#4r_, f8-9, tm*p; are NOT allowed because it start with number,# symbol,- symbol,tm*p * symbol

In [ ]:
f8-9 = 'king'
f8-9

SyntaxError: ignored

In [ ]:
f8_9= 'king'
f8_9

'king'

###Let's try making a variable that contains your name then print it !
Excercise : 3
Create a variable as called age and add your age to it

Next print out your age in your notebook !

In [ ]:
age = 23
age

23

In [ ]:
print(age) # here no need of double or single quotes because we are not printing statement we are printing the variable

23

#Simple Program
input: uses the input command
output: used the print command

In [ ]:
name = input("what is your  name?")
print("welcome to python world,",name)

what is your  name?lavanya
welcome to python world, lavanya

#Let's create input function that not only takes the name of the user but also their age and then let's print it
Excercise : 4
Create two inputs with one taking the name and the other taking the age

And then print out Hey <name> I am glad you started learning python at the age of <age>

In [ ]:
name = input("what is your name?")
age = input("what is your age?")
print("hey,",name,"glad you started learning python at the age of",age)

what is your name?punya
what is your age?18
hey, punya glad you started learning python at the age of 18

###Data Types
a particular kind of data entity, defined by the values it can take

Python has several built-in data types, some of them are:

numeric data types
text sequence data type
sequence data types
mapping data type
boolean data type
set data type
the type() function is used to check the data type of something in Python

Numeric Data Types
two basic numeric data types
int: integers
float: decimal numbers

In [ ]:
x = 7 # 7 is an integer 
type(x)

int

In [ ]:
y = 7.5
type(y)

float

#Text Sequence Types
#strings are a text sequence type
#they are a sequence of characters
#they are immutable (unable to be changed.)
#they are ordered

In [ ]:
# define a string 
python_string = 'TECH I.S. is awesome!'

# check type 
type(python_string)

str

#Now that we know how to find out the datatype of variables
#Excercise : 5
#What is the datatype of these three variables :

#discount = 43.8
#height = 143
#address = '#301, Pelican Street'

In [ ]:
discount = 43.8
type(discount)

float

In [ ]:
height = 143
type(height)

int

In [ ]:
address = "#301.pelican street"
type(address)

str

##Sequence Types
#there are three kinds of sequence types:
#list: mutable sequence
#tuple: immutable sequence (unable to be changed)
#range: immutable sequence (unable to be changed)
### List

### LISTS
ordered group of comma seperated values in square brackets	o
square brackets are mandatory	
mutable	
once created, content changes can be made	
should be chosen if content is not fixed, and keeps changing	
cannot be used as keys for dictionaries	
are not hashable and immutable

In [ ]:
example_for_list = [3,"apple",92,10,"mango"]
example_for_list

[3, 'apple', 92, 10, 'mango']

In [ ]:
print(example_for_list)

[3, 'apple', 92, 10, 'mango']

In [ ]:
print(len(example_for_list))

5

In [ ]:
print(type(example_for_list))

<class 'list'>

In [ ]:
type(example_for_list)

list

In [ ]:
example_for_list[0]

3

In [ ]:
example_for_list[1]

'apple'

In [ ]:
example_for_list[2]

92

In [ ]:

example_for_list[3]

10

In [ ]:
example_for_list[4]

'mango'


### TUPLE
## ordered group of comma seperated values in parenthesis
	immutable
	once created, content cannot be changed
	chosen if content is fixed and never changes
	can be used as keys for dictionaries
	are hashable and immutable

In [ ]:
# define a tuple
tuple_example = (5,'11','a',2.86)
print(tuple_example)

(5, '11', 'a', 2.86)

In [ ]:


# check length of tuple
print(len(tuple_example))

4

In [ ]:

# check type
type(tuple_example)

tuple

# Let's make something using lists!
# Excercise : 6
# Make a list of your favourite colour, food and place and save it in a list called my_favs

In [ ]:
my_favs = ["Blue","Idli","Mysore"]

In [ ]:
my_favs

['Blue', 'Idli', 'Mysore']

### Range

In [ ]:
range_example = range(7)

In [ ]:
range_example

range(0, 7)

In [ ]:
print(len(range_example))

7

In [ ]:
type(range_example)

range

In [ ]:
# define range with (start,stop,step)
range_example = range(0,20,2)
print(range_example)

range(0, 20, 2)

In [ ]:
print(len(range_example))

10

In [ ]:
type(range_example)

range

##Let's get a bit crafty with the range function
Excercise : 7
Using the range function from 4 to 40 and then check the length

In [ ]:
r = range(4,40)

In [ ]:
print(len(r))

36

##Mapping Types
#dictionary is a mapping data type
#it is mutable
#unordered

In [ ]:
# define a dictionary
b = {'one': 1, 'two': 2, 'three': 3} ##key = value
print(b)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
# check type
type(b)

dict

In [ ]:
b["one"]

1

##Excercise : 8
#Make a dictionary with students name and their scores !

#Student : Jake Score : 70
#Student : Mako Score : 75
#Student : Alex Score : 78.5

In [ ]:
student = {"Jake Score ": 70,"Mako Score" : 75,"Alex Score" : 78.5}
student### alphabet wise recording the rank

{'Alex Score': 78.5, 'Jake Score ': 70, 'Mako Score': 75}

#Boolean Types
#state of truth
### may be True or False

In [ ]:
b = True
type(b)

bool

In [ ]:
f = False
type(f)

bool

#Set Types
## set is an unordered collection of distinct objects which  are colosed with flower braces

In [ ]:
set_of_numbers = {0,9,1,5,7}
print(set_of_numbers)

{0, 1, 5, 7, 9}

In [ ]:
names = ['olivia', 'caleb', 'olivia']
names_set = set(names)

In [ ]:
names_set

{'caleb', 'olivia'}

In [ ]:
unique_names = list(names_set)
print(unique_names)

['caleb', 'olivia']

### Operators
#popular kinds of operators

numeric operators
comparison operators
logical operators
assignment operators
idenity operators
membership operators
bitwise operators
some are discussed below

### Numeric Operators
#used with numeric data types to perform mathematical operations
#+: addition

#-: subtraction
#*: multiplication
#/: division
#//: floor division
#%: modulus (remainder)
#**: raising to power
#abs(): absolute value of number
#round(): rounds a number
#bin(): get binary version of a number
#hex(): get hexadecimal version of a number

In [ ]:

# set values of x, y and z for numeric operators exploration
x = 5   # integer value
y = 2.0 # float value
z = -13 # negative integer

#(run this cell to initialize values for the next few cells!)

In [ ]:
# sum of x and y
print(x + y)

7.0

In [ ]:
# difference of x and y
print(x - y)

3.0

In [ ]:
# product of x and y
print(x * y)

10.0

In [ ]:
# quotient of x and y
print(x / y)

2.5

In [ ]:
# floored quotient of x and y
print(x // y)

2.0

In [ ]:
# remainder of x / y
print(x % y)

1.0

In [ ]:
# absolute value 
print(abs(z))

13

In [ ]:
# x raised to power y
print(x ** y)

25.0

In [ ]:
# rounding a decimal example - round down
print(round(2.1))

2

In [ ]:
# rounding a decimal example - round up
print(round(3.7))

4

In [ ]:
# binary version of the number
print(bin(37))

0b100101

In [ ]:
# hexadecimal version of the number
print(hex(37))

0x25

Operators are the lifelines of any programming language ,let's put them to good use
Excercise : 9
Create a variable with the value of pi as 3.14, create a new variable as radius and assign it a float value, this will be the radius of a circle and then output the area of the circle using the formula pi*radius^2

Comparison Operators
used to compare two values
<: less than
>: greater than
<=: less than or equal to
>=: greater than or equal to
==: equality
!=: inequality

In [ ]:
# Greater Than 
i = 3 
j = 7

print(i > j)

False

In [ ]:
# Greater Than or Equal
i = 3 
j = 7

print(i >= j)

False

In [ ]:
# Less Than 
i = 3 
j = 7

print(i < j)

True

In [ ]:
# Less Than or Equal 
i = 3 
j = 7

print(i <= j)

True

In [ ]:
# Equality Test #1
i = 3
j = 7

print(i == j)

False

In [ ]:
# Equality Test #2
i = 3
j = 3

print(i == j)

True

In [ ]:
# Inequality Test #1
i = 3
j = 7

print(i != j)

True

In [ ]:
# Inequality Test #2
i = 3
j = 3

print(i != j)

False

##Let's see what comparison operator can do for us
##Excercise : 10
In the last excercise you created a program to get the area of a circle , create a print function that checks if the area that your program created is bigger than 50 or not

Logic Operators
used to combine conditional statements
and
or
not

In [ ]:
## and Operator

In [ ]:
#  'not' operator 
a = True

print(not a)

False

In [ ]:
# a and b are true
a = True 
b = True

print(a and b)

True

In [ ]:
# only b is true 
a = False 
b = True

print(a and b)

False

In [ ]:
# a and b are both false
a = False 
b = False

print(a and b)

False

OR OPERATOR

In [ ]:
## 'or' operator 

# a and b are true
a = True 
b = True

print(a or b)

True

In [ ]:
# only a is true 
a = True 
b = False

print(a or b)

True

In [ ]:
# only b is true 
a = False 
b = True

print(a or b)

True

In [ ]:
# a and b are both false
a = False 
b = False

print(a or b)

False

To be OR not to be ? Let's explore what we can get done using logical operators
Excercise : 11
Create a print function for our circle area generator to check if the area is between 20 AND 50

Assignment Operators
used to assign values to variables

=
following operators combine numerical operations at the same time as assignment

+=
-=
*=
/=
//=
%=
**=

In [ ]:
# assignment operator 

x = 21
print(x)

21

In [ ]:
# += operator

x += 3
print(x)

24

In [ ]:
# -= operator

x -= 3
print(x)

21

In [ ]:
# *= operator

x *= 3
print(x)

63

In [ ]:
# /= operator

x /= 3
print(x)

21.0

In [ ]:
# //= operator

x //= 3
print(x)

7.0

In [ ]:
# %= operator

x %= 3
print(x)

1.0

### ASSIGNMENT 1

### SIMPLE CALCULATOR

In [ ]:



print("1 Addition")
print("2 Subtraction")
print("3 Multiplication")
print("4 Division")
choice = input("Enter your choice : ")
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if choice == '1':
   print(num1, "+", num2, "=", (num1+num2))

elif choice == '2':
      print(num1, "-", num2, "=",(num1-num2))

elif choice == '3':
      print(num1, "*", num2, "=",(num1*num2))

elif choice == '4':
     if num2 == 0.0:
        print("divide by 0 is error")
     else:  
        print(num1, "/", num2, "=", (num1/num2))

else:
  print("Invalid Input")

1 Addition
2 Subtraction
3 Multiplication
4 Division
Enter your choice : 3
Enter first number: 3
Enter second number: 4
3.0 * 4.0 = 12.0

### PERIMETER OF THE CIRCLE

In [ ]:
radius = float(input("enter the radius of the circle:"))
perimeter = 2*3.1415*radius
print("perimeter of the circle is",perimeter)

enter the radius of the circle:6
perimeter of the circle is 37.698

In [ ]:
import math

In [ ]:
radius = float(input("enter the radius of the circle:"))
perimeter = 2*math.pi*radius
print("perimeter of the circle is",perimeter)

enter the radius of the circle:6
perimeter of the circle is 37.69911184307752

### AREA OF THE CIRCLE

In [ ]:
radius = float(input("enter the radius of the circle:"))
area = math.pi*radius*radius
print("perimeter of the circle is",area)

enter the radius of the circle:6
perimeter of the circle is 113.09733552923255

In [ ]:
Fruits = ["Apple","pineapple","litchi"]
Fruits

['Apple', 'pineapple', 'litchi']

In [ ]:
type(Fruits)

list

In [ ]:
Fruits.append("jackfruit")

In [ ]:
Fruits

['Apple', 'pineapple', 'litchi', 'jackfruit']

In [ ]:
Fruits = ("Apple","pineapple","litchi")
Fruits

('Apple', 'pineapple', 'litchi')

In [ ]:
type(Fruits)

tuple

In [ ]:
Fruits.append("mango")

AttributeError: ignored

### FOUNDATIONS 2

## Strings
## strings are ordered sequence of characters
## strings are immutable
## i.e. cannot be modified after being created

In [ ]:
#DEFINING A STRINGS
# STRINGS ARE DEFINED WITH A SINGLE QUOTES OR DOUBLE QUOTES
name_one = 'TECH I.S.'
print(name_one)

TECH I.S.

In [ ]:
name_one = "TECH I.S."
print(name_one)

TECH I.S.

In [ ]:
# string defined with triple single quotes
name_three = '''This is a long string and supports 
                multiline statements as well
             '''
print(name_three)

This is a long string and supports
                multiline statements as well

In [ ]:
# string defined with double quotes inside the single quotes
name_four = 'Hello, "TECH I.S. Student"'
print(name_four)

Hello, "TECH I.S. Student"

##Welcome to the second chapter !
##Excercise : 1
##Make two strings ,first_name and last_name and add your name in those strings and then print them

In [ ]:
first_name = "lavanya"
last_name = " gowda"
print(first_name + last_name)

lavanya gowda

##String Immutability Test

In [ ]:
# define string
s = "hello"

# attempt assigment
s[0] = 'y' #throws error - hence strings are immutable

TypeError: ignored

### quite interseting

In [ ]:
# however, rebinding works 
# reassigning s with 'y' concatenated with 'ello' extracted from s
s = 'y' + s[1:len(s)]

print(s)

yello

In [ ]:
s[1:len(s)]

'ello'

###Now that we know strings are immutable
#Excercise : 2
#In the above string where we are replacing the h of hello to y ,write a command which adds w at the end of yello to make yellow !

In [ ]:
s="yello"

In [ ]:
# reassigning s with 'y' concatenated with 'ello' extracted from s
s =  s[0:len(s)]+"w"

print(s)

yellow

### String Concatenation

In [ ]:
first_name = "TECH"
last_name = "I.S."
full_name = first_name + ' ' + last_name
print(full_name)

TECH I.S.

###What are the practical way of using string concatenation ?
##Excercise : 3
##In Excercise : 1 we had created two strings ,first_name and last_name , write a command to print these two variables in the same line by concatenating them !

In [ ]:
musubi = "kai"
mangement = "zen"
print(musubi + mangement)

kaizen

### String Multiplication

In [ ]:
name = 'Hayato '
print(name)
name_thrice = name * 3
print(name_thrice)
print(name*4)
print(name*10)

Hayato
Hayato Hayato Hayato
Hayato Hayato Hayato Hayato
Hayato Hayato Hayato Hayato Hayato Hayato Hayato Hayato Hayato Hayato

###Printing the same string can be time consuming !
###Excercise : 4
###Print your first_name six times using string multiplication, do you find it easier compared to writting 6 individual prints?

###String Length

In [ ]:
first_name = "lavanya "
print(name*6)

lavanya lavanya lavanya lavanya lavanya lavanya

### String Length

In [ ]:
# check length of string
name = "TECH I.S."
len(name)

9

## string indexing 
## in Python,
## indexing of sequences starts from 0
## string is a text sequence,
## so indexing for strings starts from 0

In [ ]:
# define a string 
s = "abc"
#abc
#a -> 0
#b -> 1
#c -> 2
# indexing starts from 0 in Python

# use square brackets and the index number to access data
print(s[0]) # output: a

a

In [ ]:
print(s[1]) # output: b

b

In [ ]:
print(s[2]) #output: c

c

In [ ]:
print(s[-1]) # output: c

c

In [ ]:
print(s[-2]) # output: b

b

In [ ]:
print(s[-3]) # output: a

a

In [ ]:
print(s[3]) # output: index error

IndexError: ignored

## Let's see if we can get the letter out of the string using the index value !
## Excercise : 5
## Create a variable with the string value This is one sentence!, print out the index of the o

In [ ]:
musubi = ("This is one sentence!")
musubi[0]

'T'

# String Slicing
# extract sub-sections of a string
# slice strings using format [start:stop:step]
# step = 1 by default
# you may also omit numbers and use only colons (:)

In [ ]:
# define a new string 
s = 'abcdefgh'

print(s[3:6])     #output: def

def

### slice strings using format [start:stop:step]

In [ ]:
print(s[3:6:1])   #output: def step = 1 by default

def

In [ ]:
print(s[3:6:2])   #output: def step = 1 by default

df

In [ ]:
print(s[3:6:3])

d

In [ ]:
print(s[::])    #output: abcdefgh (useful for copying string content into new memory location)

abcdefgh

In [ ]:
print(s[::-1])    #output: hgfedbca (reverse string command)

hgfedcba

In [ ]:
print(s[4:1:-2])  #output: ec

ec

### his time let's get a word out of our string
### Excercise : 6
### From the variable you created in Excercise : 5 by using string slicing, print out one

### Lists
### lists are ordered sequences of objects
### they are mutable

In [ ]:
# define a list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!'] ## characters ,letters or sentences always enclosed with quotes

# view list 
print(new_list)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']

## Let's build our own lists now
## Excercise : 7
## Create grocery list in form of a python script ,you can add items such as banana,milk etc !

## Accessing List Elements
## indexing in lists works just like strings
## indexing starts from zero

In [ ]:
grocery = ["soap","biscuit","rice","honey","spices","banana","milk"]
#soap -> 0,biscuit -> 1,rice -> 2,honey -> 3,spices ->4,banana -> 5,milk ->6

In [ ]:
grocery[0]

'soap'

# Nested Lists
# lists can be embedded inside lists
# multiple nesting is also supported

In [ ]:
# define nested lists 
nested_list = [
               [1,2,3],
               ['a','b','c'],
               [True,False,7],
              ]

# check nested list
print(nested_list)

[[1, 2, 3], ['a', 'b', 'c'], [True, False, 7]]

# Let's build our own nested lists !
# Excercise : 9
# Make a nested list of various your favorite animals ,colours and songs and then print it

In [ ]:
nested_list = [[ "lion","cat","dog"],["red","peach","blue","white"],["jai ho","senorita","cheap thrills"]]
nested_list

[['lion', 'cat', 'dog'],
 ['red', 'peach', 'blue', 'white'],
 ['jai ho', 'senorita', 'cheap thrills']]

##List Mutability Test

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# try changing content in list
new_list[2] = 'one' # accepts change

# check list
print(new_list)

## Append to List
## append can add only one element at the end of a list at a time

In [ ]:
# define a list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# print new list
print(new_list)

# append 'wohoo' to new_list
new_list.append('wohoo!')

# check apended value
print(new_list)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!', 'wohoo!']

In [ ]:
new_list.append('wohoo!',"covid 19") ### only one element can add to append

TypeError: ignored

## Extend List
## used to add multiple elements at the end of the list

In [ ]:
# define a list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# print new list
print(new_list)

# extend new_list with multiple elements in an array
new_list.extend(["Let's", "do", "this","!"])
# NOTE: multiple elements have to be input in array

print(new_list)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!', "Let's", 'do', 'this', '!']

## Insert to List
## can add an element at a given position in the list
## can add only one element at a time
## two arguments:
## first argument specifies the position
## second argument specifies the element to be inserted

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# insert element 'Chocolate' at spot 3 in new_list
new_list.insert(3,'Chocolate')

# check insertion
print(new_list)

[3, 7, 20, 'Chocolate', '@', 'TECH I.S.', 'makes learning fun!']

## Now that we know how to insert into a list ,
## Excercise : 10
## In the list that you created in Excercise : 5 append almonds into it !

In [ ]:
musubi = ["This is one sentence!"]
musubi.append("almonds")

In [ ]:
musubi

['This is one sentence!', 'almonds']

## Remove from List
## used to remove an element from the list
## in the case of multiple occurrences, only the first is removed

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# remove 20 from new_list
new_list.remove(20)

# check removal
print(new_list)

[3, 7, '@', 'TECH I.S.', 'makes learning fun!']

### Maybe almonds was not a good idea ,
Excercise : 11
Perform a removal operation almonds from your list which you just added to

In [ ]:
musubi.remove("almonds")
musubi

['This is one sentence!']

## Pop from List
## can remove an element from any position in the list
## removes index item
## element is not specified like in remove() method, only the index position

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# pop spot 2 from list
new_list.pop(2)

# check list 
print(new_list)

[3, 7, '@', 'TECH I.S.', 'makes learning fun!']

In [ ]:
grocery

['soap', 'biscuit', 'rice', 'honey', 'spices', 'banana', 'milk']

In [ ]:
grocery.pop(-1)

'milk'

In [ ]:
grocery

['soap', 'biscuit', 'rice', 'honey', 'spices', 'banana']

###Excercise : 12
### From the list from which you just removed almonds perform a .pop() function on it

In [ ]:
musubi.pop(-1)

'This is one sentence!'

## remove() vs. pop()
## remove()                        	       pop()
## removes element by identification	    removes by index
## new_list.remove(element_to_remove)	     new_list.pop(index_number_to_remove)

## List Slicing
## used to extract a sub-section of the list
## index access works like string indexing and slicing

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# extract combinations of new_list extracts
print(new_list[:4])
print(new_list[2:])
print(new_list[1:5])
print(new_list[:])

[3, 7, 20, '@']
[20, '@', 'TECH I.S.', 'makes learning fun!']
[7, 20, '@', 'TECH I.S.']
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']

## Reverse a List
## used to reverse the elements of a list

## can be done in two ways

## modify the original list
## without modifying the original list

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# without modifying the original list
print(new_list[::-1])
print(new_list) # unmodified original list

# modify the original list
new_list.reverse() # modify original list
print(new_list)

['makes learning fun!', 'TECH I.S.', '@', 20, 7, 3]
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
['makes learning fun!', 'TECH I.S.', '@', 20, 7, 3]

## Length of a List
## returns the number of elements in the list

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# print length of new_list
len(new_list)

6

Min & Max Values of a List
min() returns the minimum value in the list
max() returns the maximum value in the list

NOTE: both methods accept only homogeneous lists

i.e. list having elements of similar data type

In [ ]:
# define list
new_list = [8,12,7,10,52,33,21,99]

# check min and max of new_list
print(min(new_list))
print(max(new_list))

7
99

In [ ]:

# define list
new_list = ['x','10','99','twenty','%$','--']

# check min and max of new_list
print(min(new_list))
print(max(new_list))

%$
x

In [ ]:
# define list
new_list = [8,12,7,10,7,33,21,7]

# count the number of occurences of 7
print(new_list.count(7))

3

In [ ]:
len(new_list)

8

In [ ]:
new_list.count(10)

1

###How many items do we have in our grocery list

In [ ]:
len(grocery)

6

##Excercise : 13
## On the list on which we performed pop run the len function and make a note of how many items we have !

In [ ]:
len(musubi)

0

In [ ]:
musubi

[]

##Concatenate Lists
##used to merge two lists and return a single list

In [ ]:
# define two lists
list_first = ['three','hundred']
print(list_first)

list_second = ['words','in','a','paragraph']
print(list_second)

# concatenate lists
list_combined = list_first + list_second
print(list_combined)

['three', 'hundred']
['words', 'in', 'a', 'paragraph']
['three', 'hundred', 'words', 'in', 'a', 'paragraph']

## Multiply List Content
## allows duplicating the list n times
## resultant list is the original list iterated n times

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# multiply list
print(new_list*2)
print(new_list*3)

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!', 3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!', 3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!', 3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']

##Location of the First Occurence
#index() method returns the position of the first occurrence of the given element
optional parameters:
the begin index and
the end index
when optional arguments are given:

the element is searched only in the sub-list bound by the begin and end indices
when not supplied,

the element is searched in the whole list

In [ ]:
# define list
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']

# search index of 'TECH I.S.'
print(new_list.index('TECH I.S.'))

4

In [ ]:


# search '@' with optional arguments
print(new_list.index('@',1,4))

3

Sort a List in Place
sort method sorts the list in ascending order
can only be performed on homogeneous lists, i.e. lists having elements of similar data type

In [ ]:
# define list
new_list = [4, 2, 6, 5, 0, 1] 

# check unsorted list
print(new_list)

[4, 2, 6, 5, 0, 1]

In [ ]:
# sort list
new_list.sort()

In [ ]:
# check sorted list
print(new_list)

[0, 1, 2, 4, 5, 6]

In [ ]:
# define list
new_list = [4, 2, 6, 5, 0, 1] 

# check unsorted list
print(new_list)

[4, 2, 6, 5, 0, 1]

In [ ]:
# clear list
new_list.clear()

# check cleared list
print(new_list)

[]

### Tuples
### tuples are ordered sequences of objects
### they are immutable
### i.e. their content cannot be changed after creation

### Define a Tuple

In [ ]:
# create a new tuple - without specifying brackets
new_tuple_one = 1,2,3,4

# print tuple
print(new_tuple_one)

(1, 2, 3, 4)

In [ ]:
#--------------------------------------------------------
# create a new tuple - with brackets
new_tuple_two = (5,6,"python",8)

# print tuple
print(new_tuple_two)

(5, 6, 'python', 8)

In [ ]:
#--------------------------------------------------------
# create empty tuple
empty_tuple = ()

# check empty tuple
print(empty_tuple)

()

In [ ]:
#--------------------------------------------------------
# create tuple using Constructor
new_tuple_three = tuple(("apple","banana","cherry"))

# check empty tuple
print(new_tuple_three)

('apple', 'banana', 'cherry')

In [ ]:
#--------------------------------------------------------
# single element tuples 
new_tuple_wrong = ("apple") # wrong single element tuple
print(type(new_tuple_wrong))  # outputs string
print(new_tuple_wrong)

<class 'str'>
apple

In [ ]:
new_tuple_right = ("apple",) # correct single element tuple
print(type(new_tuple_right)) # outputs tuple
print(new_tuple_right)

<class 'tuple'>
('apple',)

##Indexing in Tuples
##indexing in tuples works just like strings

In [ ]:
# define a new tuple
new_tuple = "apple","orange","banana","berry","mango"

print(new_tuple[0]) # zeroth element

apple

In [ ]:
print(new_tuple[5]) # throws error - no fifth element

IndexError: ignored

### Tuple Immutability Test

In [ ]:
# define tuple
new_tuple = (1,7,'$', 'Summers', 'Winters' )

# try changing tuple content
new_tuple[4] = 'Spring' # throws error

TypeError: ignored

###Concatenation of Tuples
tuples are immutable, hence the data stored in a tuple cannot be edited
but it's definitely possible to merge two tuples to create a new tuple

In [127]:
# define two new tuple
new_tuple_one = 9,5,6,4,2,1
new_tuple_two = 'a',5,7,6,3,1

print(new_tuple_one)
print(new_tuple_two)

(9, 5, 6, 4, 2, 1)
('a', 5, 7, 6, 3, 1)

In [128]:
# add a new element
merged_tuple = new_tuple_one + new_tuple_two

# check merged tuple
print(merged_tuple)

(9, 5, 6, 4, 2, 1, 'a', 5, 7, 6, 3, 1)

##Multiplication (Duplication) of Tuples
duplicates the content of a tuple, the specified number of times

In [129]:
# define a tuple
new_tuple = 'a',5,7,6,3,1

print(new_tuple)

# multiply and print result
print(new_tuple*2)
print(new_tuple*3)

('a', 5, 7, 6, 3, 1)
('a', 5, 7, 6, 3, 1, 'a', 5, 7, 6, 3, 1)
('a', 5, 7, 6, 3, 1, 'a', 5, 7, 6, 3, 1, 'a', 5, 7, 6, 3, 1)

In [ ]:
Length of a Tuple

In [130]:
# define a tuple
new_tuple = 'a',5,7,6,3,1

len(new_tuple)

6

In [132]:
# Min & Max Values of a Tuple
# min() returns the minimum value in the tuple
# max() returns the maximum value in the tuple

# both methods accept only homogeneous tuples

# i.e. tuples having elements of similar data type

In [133]:
# define tuple
new_tuple = 8,12,7,10,52,33,21,99

# check min and max of new_tuple
print(min(new_tuple))
print(max(new_tuple))

7
99

In [134]:
# define list
new_tuple = 'x','10','99','twenty','%$','--'

# check min and max of new_list
print(min(new_tuple))
print(max(new_tuple))

%$
x

### Count of an Element in a Tuple

In [135]:
# define a tuple
new_tuple = 5,3,6,3,1,3,2,3

# count the number of 3s in the tuple
print(new_tuple.count(3))

4

### Location of First Occurence

In [136]:
# define a tuple
new_tuple = 5,6,3,1,3,2,3

# find the index location of the first occurence of 3
print(new_tuple.index(3))

2

# Delete a Tuple
# you cannot remove the elements in a tuple
# but you can delete an entire tuple

In [138]:
# define a tuple
new_tuple = 5,3,6,3,1,3,2,3

# check tuple
print(new_tuple)

(5, 3, 6, 3, 1, 3, 2, 3)

In [139]:
# delete the tuple
del(new_tuple)

# check deletion
print(new_tuple) # will throw an error becasue tuple doesnt exists

NameError: ignored

## Identity Operators
## used to compare objects

## not if they are equal
## but if they are actually the same object
## with the same memory location
## two identity operators:

## is
## is not

In [140]:
# define lists
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

# 'is' test 
print(x is z)

True

In [141]:
# 'is' test 
print(x is y)

False

In [142]:
# equality test
print(x == y)

True

In [144]:
# 'is not' test
print(x is not y)

True

## Membership Operators
## used to test if a sequence has specified object

## two membership operators:

## in
## not in

In [145]:
# define list 
x = ["apple", "banana"]

# 'in' test
print("banana" in x)

True

In [146]:
# 'in' test
print("pineapple" in x)

False

In [147]:
# 'not in' test
print("pineapple" not in x)

True

### ASIIGNMENT 2

### LIST OPERATIONS USING NESTED LIST

In [214]:
 list = [['name','lavanya'],['age',23],['education','BE'],['staying__location','tmkur','banglore']]
 #INSERT
 list[0].insert(2,"gowda")
 # extend new_list with multiple elements in an array
 list[1].extend(['years','old'])
 #APPEND
 list[2].append("M tech")
 #REMOVE
 list[3].remove("banglore")
 list

[['name', 'lavanya', 'gowda'],
 ['age', 23, 'years', 'old'],
 ['education', 'BE', 'M tech'],
 ['staying__location', 'tmkur']]

## STRING SLICING

In [224]:
string_slicing = ['s','u','p','e','r','m','a','n']
#SUPER 
string_slicing[0:5]

['s', 'u', 'p', 'e', 'r']

In [225]:
#MAN
string_slicing[5:]

['m', 'a', 'n']

In [228]:
string_slicing[5:8]

['m', 'a', 'n']

In [226]:

#AN
string_slicing[-2:]

['a', 'n']

In [230]:
string_slicing[6:8]

['a', 'n']

### TAKE ANY SET OF NUMBERS AND DO SORTING

In [234]:
num = [90,80,70,600]
num
num.sort()
num

[70, 80, 90, 600]


# MODIFYING THE STATEMENTS

In [236]:
statement = ["good","job"]
statement[0] = "great"
statement

['great', 'job']

### foundation 3

### Type Conversions

#int to float

In [148]:
## convert int to float 
x = 3 # int
print(x)
print(type(x))

3
<class 'int'>

In [149]:
y = float(x)
print(y)
print(type(y))

3.0
<class 'float'>

### float to int

In [150]:
## convert float to int
y = 56.213 # float
print(y)
print(type(y))

56.213
<class 'float'>

In [151]:
z = int(y) # converting y to int
print(z)
print(type(z))

56
<class 'int'>

## string to int

In [152]:
## convert string to int
x = '50' # string
print(x)
print(type(x))

50
<class 'str'>

In [153]:
y = int(x) # converting x to int
print(y)
print(type(y))

50
<class 'int'>

### int to string

In [154]:
## convert int to string 
x = 2020
print(x)
print(type(x))

2020
<class 'int'>

In [155]:
y = str(x)
print(y)
print(type(y))

2020
<class 'str'>

### string to float

In [158]:
## convert str to float
x = '3.14'
print(x)
print(type(x))

y = float(x) # converting x to float
print(y)
print(type(y))

3.14
<class 'str'>
3.14
<class 'float'>

### float to string

In [160]:
## convert float to string 
x = 37.5
print(x)
print(type(x))

37.5
<class 'float'>

In [161]:
y = str(x) # converting x to string
print(y)
print(type(y))

37.5
<class 'str'>

### list to tuple

In [162]:
## convert list to tuple
new_list = [3,7,20,'@','TECH I.S.', 'makes learning fun!']
print(new_list)
print(type(new_list))

[3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!']
<class 'list'>

In [163]:
new_tuple = tuple(new_list) # converting new_list to new_tuple
print(new_tuple)
print(type(new_tuple))

(3, 7, 20, '@', 'TECH I.S.', 'makes learning fun!')
<class 'tuple'>

### tuple to list

In [164]:
## convert tuple to list
new_tuple = 4,1,45,92,31,60,84
print(new_tuple)
print(type(new_tuple))

(4, 1, 45, 92, 31, 60, 84)
<class 'tuple'>

In [165]:
new_list = list(new_tuple) # converting new_tuple to new_list
print(new_list)
print(type(new_list))

[4, 1, 45, 92, 31, 60, 84]
<class 'list'>

### list to set

In [166]:
# define list
new_list = ["olivia","kaseem","caleb","olivia","owen", "olivia"]
print(new_list)
print(type(new_list))

['olivia', 'kaseem', 'caleb', 'olivia', 'owen', 'olivia']
<class 'list'>

In [168]:
# convert to set 
new_set = set(new_list) # extracts only the unique values
print(new_set)
print(type(new_set))

{'kaseem', 'owen', 'caleb', 'olivia'}
<class 'set'>

### set to list

In [169]:
#define a set 
new_set = {'kaseem', 'olivia', 'caleb', 'owen'}
print(new_set)
print(type(new_set))

{'kaseem', 'owen', 'caleb', 'olivia'}
<class 'set'>

In [170]:
# convert this set to a list
new_list = list(new_set) 
print(new_list) 
print(type(new_list))

['kaseem', 'owen', 'caleb', 'olivia']
<class 'list'>

### That was a lot of conversions !
##Excercise : 1
## Lets try to convert these variables into other datatypes :

## num = 7 into string
## discount = '3.77' into float
### grocery = egg,milk,mango into list

In [172]:
num = 7
x = str(num)
type(x)

str

In [173]:
discount = 3.77
d = float(discount)
type(d)

float

In [174]:
grocery = "egg","milk","mango"
g = list(grocery)
type(g)

list

### Flow Control
## if... elif... else...
## if, elif and else keywords are used to make decisions

## executes different blocks of code based on certain conditions
## comparison operators and logical operators can be used to specify these conditions

In [240]:
# 'if' conditional  
x = 5
y = 5

if x == y:
    print('x and y are equal')

x and y are equal

In [242]:
# 'if' conditional  
x = 5
y = 6

if x == y:
    print('x and y are equal')

# no output because x and y are not equal

In [243]:
# 'if... else...' conditional
x = 5
y = 6

if x == y:
    print('x and y are equal')
else:
    print('x and y are not equal')

x and y are not equal

In [244]:
# 'if... elif... else...' conditional
x = 6
y = 3

if x == y:
    print('x and y are equal')
elif x < y:
    print('x is smaller')
else:
    print('y is smaller')

y is smaller

### So now if you know what flow control can do for you , what else are you waiting for !
## Excercise : 2
## Create program where the user can enter a number , and if the number is even print 'This number is even!' or else print 'This number is odd' and otherwise 'This is not a valid number'

### single line if... else...
### use if and else in a single line as shown below

In [250]:
# 'if... elif... else...' conditional
x = int(input("enter a any number: "))


if (x%2)== 0:
    print('This number is even!')
else:
    print('This number is odd')

enter a any number: 7
This number is odd

In [251]:
is_single = True
message = 'You can date.' if is_single else 'You cannot date.'
print(message)

You can date.

###"=" vs. "=="
### = is an assigment operator

## is used to set values of variables
###  == is a comparison operator

### is used to compare the equality of two objects/variables
### if == is used instead of = for comparison in if statement, for instance, then a syntanx error is thrown

In [252]:
# get user input for variables 'x' and 'y'
x = float(input("Enter a number for x: ")) # `=` is an assignment operator
y = float(input("Enter a number for y: ")) # `=` is an assignment operator

# compare values of x and y 
if x == y: # `==` is a comparison operator
  print("x and y are equal") # if equality testest passed
  if y != 0: 
    print("therefore, x / y is", x/y) 
elif x < y: 
  print("x is smaller") # if x is less than y
else:
  print("y is smaller") # if y is less than x

print("thanks!")

Enter a number for x: 4
Enter a number for y: 8.0
x is smaller
thanks!

### "while" loops
### the while loop executes a block of code as long as a condition is true

In [253]:
# while loop example #1
n = 0 
while n < 5:
  print(n)
  n += 1

0
1
2
3
4

### "while" loop with "else" statement
### else can be added at the end of a while loop
### to run a piece of code when the while condition is no longer is true

In [254]:
# while loop example #2
n = 0 
while n < 5:
  print(n)
  n += 1
else:
  print('n is not less than 5 anymore')

0
1
2
3
4
n is not less than 5 anymore

### Excercise : 3
### Display the numbers from 4 to 100 using the while loop

In [256]:
n = 4 
while n < 101:
  print(n)
  n += 1

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## "for" loops
## for keyword is used along with in membership query keyword to loop over strings, lists, tuple, and dictionaries

### for... in range()
### for can be used with in and range() to generate numbers

In [257]:
for n in range(5):
    print(n)

0
1
2
3
4

In [258]:
for n in range(2, 6):
  print(n)

2
3
4
5

In [259]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

### "for" loops with strings
## foor loops can use used to loop over strings

In [260]:
text = "TECH I.S."
for letter in text:
  print(letter)

T
E
C
H

I
.
S
.

## "for" loop with lists, tuples, sets and dictionaries
### "for" loop can be used with data types like lists, tuples, sets and dictionaries

In [261]:
# define a list
fruits_list = ["apple", "banana", "cherry"]

# run a for loop to print the elements of the list
for fruit in fruits_list:
  print(fruit)

apple
banana
cherry

In [262]:
# define a tuple
animals_list = "dog","cat","elephant","otter"

# run a for loop to print the elements of the tuple
for animal in animals_list:
  print(animal)

dog
cat
elephant
otter

In [263]:
# define a set 
names = {'oliva','caleb','kaseem'}

# loop over the set with for 
for name in names:
  print(name)

kaseem
oliva
caleb

In [264]:
# define a dicitonary
translations = {'a':1, 'b':2, 'c':3}

# loop over the dicitonary with for

# keys:
for entry in translations:
  print(entry)

# values:
for entry in translations.values():
  print(entry)

a
b
c
1
2
3

### Excercise : 4
### Print the following pattern

### 1 12 123 1234 12345

In [265]:
n = int(input("Enter number of rows: "))

for i in range(1,n+1):
    for j in range(1, i+1):
        print(j, end="")
    print()

Enter number of rows: 5
1
12
123
1234
12345

## list comprehension
## for loops can be written in a single line in python
## using list comprehension

In [266]:
# create a new list of powers of 0 to 9
powers = [num**2 for num in range(10)] # a for loop defined with list comprehension
print(powers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### generator object
### is not explicitly executed at creation

### the formula (expression) for creating values is stored inside the generator

### the values are accessed with the next function

In [267]:
# create a generator object with powers of 0 to 9
powers = (num**2 for num in range(10))
print(powers)

next(powers) # call the first value in the generator

<generator object <genexpr> at 0x7f13eed71050>

0

In [268]:


next(powers) # call the first value in the generator

1

In [269]:

next(powers) # call the first value in the generator

4

In [270]:

next(powers) # call the first value in the generator

9

### nested "for" loops
### for loops can be nested to achieve looping over multiple lists

In [271]:
adjectives = ["juicy", "big", "tasty"] # list 1
fruits = ["apple", "banana", "cherry"] # list 2

for fruit in fruits: # looping over list 2 - outer loop
  for adjective in adjectives: # looping over list 1 - inner loop
    print(adjective, fruit)

juicy apple
big apple
tasty apple
juicy banana
big banana
tasty banana
juicy cherry
big cherry
tasty cherry

### "break" statement
### stops a while loop even if the while condition is true

In [272]:
n = 0
while n < 6:
  print(n)
  if n == 3:
    break # break loop when it is equal to 3
  n += 1

0
1
2
3

In [273]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)
  if fruit == "banana":
    break # break loop after after printing banana

apple
banana

## "continue" statement
### the continue statement stops the current iteration, and continues with the next

In [274]:
n = 0
while n < 6:
  n += 1
  if n == 3: # skip 3
    continue
  print(n)

1
2
4
5
6

In [275]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue # skip banana
  print(x)

apple
cherry

#### Exceptiion Handling Examples

In [276]:
# setup an error handling block 
try:
  print(x_val) # without defining x_val before, we try to print the value of x_val
except:
  print('An exception occured')

# here, since the try block code throws an error because of x_val not being defined, the except block is executed
# lets try this without a try block
print(x_val) # this raises a NameError

An exception occured

NameError: ignored

In [277]:
# multiple exceptions handling
try:
  print(x_val)
except NameError: # exception handling #1
  print("x_val is not defined")
except: # exception handling #2
  print("Something else went wrong")

x_val is not defined

In [278]:
# `finally` block example #1
try:
  print(x)
except: # this executes if the try block has an error
  print("Something went wrong")
finally: # this is executed whether an error is raised or not
  print("The 'try except' is finished!")

cherry
The 'try except' is finished!

In [279]:
try: # define try block
  f = open("file.txt") # open a file that exists, but with no write permission
  f.write("text to write") # try to write to file
except: # respond to error 
  print("Something went wrong when writing to file")
finally: # run this code regardless of the outcome of the try-error outcome
  f.close()

Something went wrong when writing to file

NameError: ignored

## raise() keyword
## you can geenrate a custom error if an exception occurs
## this is done with the raise() keyword

In [280]:
## raise exception example #1
x = -1

if x < 0:
  raise Exception("Sorry, number below zero!")

Exception: ignored

In [281]:
## raise exception example #2
# you can choose the specific type of Exception to raise
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed!")

TypeError: ignored

#### Excercise : 5
## Write a program that takes in the users name, and if the user provides a numerical datatype, raise an exception asking the user to Type in your name properly !

###Functions
### functions are reusable pieces of code
### they only run when called
### they may take input arguments
## they may return processed values

### def keyword is used at the begeinning of a function to start defining a function

##return keyword is used to send some value back after processing

In [282]:
# define a function to test for even numbers 
  # takes one integer number as an argument
  # and returns true if even and false if not 

def is_even(num):
  return num % 2 == 0

# test evenness of 55 by calling the function is_even()
print(is_even(55)) # call function and print output

# test evenness of 100 by calling the function is_even()
print(is_even(100)) # call function and print output

False
True

In [283]:
# define function to calculate area of a circle
# input argument is radius 

def area_circle(radius):
  ''' # start doc string 
  input: radius of circle 
  return value: computed value of area
  '''
  area = (22.0/7.0)*radius**2
  return area

print(area_circle(5))

78.57142857142857

## Let's make a useful function
## Excercise : 6
## Create a function that calculates the simple interest of a property purchase !

## Extra pointer : If simple interest was easy , make a compound interest calculator as well !

## Scope
## a variable is only available from inside the region it is created
## this is called scope
## Local Scope
## a variable created inside a function belongs to the local scope of that function
## and can only be used inside that function

In [284]:
def myfunc():
  inside_variable = 300 # inside_variable is available only inside myfunc() and not accessible outside
  print(inside_variable)

myfunc() # call the function myfunc()
print(inside_variable) # throws error

300

NameError: ignored

In [285]:
def myfunc():

  inside_variable = 300

  def myinnerfunc(): # this is the inner function
    print(inside_variable) # this line accesses the inside_variable value

  myinnerfunc() # call the function myinnerfunc()

myfunc() # call the function myfunc()

print(inside_variable) # but this still throws error

300

NameError: ignored

### Global Scope
### a variable created in the main body of the Python code is a global variable and belongs to the global scope.

### global variables are available from within any scope, global and local

In [286]:
outer_variable = 300

def myfunc():
  print(outer_variable)

myfunc()

print(outer_variable)

300
300

In [ ]:
## "global" keyword
## if you need to create a global variable, but are stuck in the local scope, you can use the global keyword.

## the global keyword makes the variable global.

In [287]:
def myfunc():
  global global_variable
  global_variable = 300
  print(global_variable)

myfunc()

print(global_variable)

300
300

### Lambda
## is a small anonymous function
## can take any number of arguments, but can only have one expression

## syntax: lambda arguments : expression

In [288]:
# lambda function example #1:

plus_ten = lambda x : x + 10
print(plus_ten(5))

15

In [289]:
# lambda function example #2:

multiply = lambda a, b : a * b
print(multiply(5, 6))

30

In [290]:
# lambda function example #3:

triple_sum = lambda a, b, c : a + b + c
print(triple_sum(5, 6, 3))

14